.container {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--white);
}
.container section {
  height: 100%;
  width: 100%;
  max-width: 996px;
  margin: 0 auto;
  padding: 24px 0;
}

@media screen and (max-width: 1200px) {
  .container section {
    padding: 24px;
  }
}
@media screen and (max-width: 425px) {
  .container section {
    padding: 16px;
  }
}
