.check_item {
  display: flex;
  align-items: center;
  gap: 16px;
  border: var(--border-slate);
  border-radius: var(--border-radius-md);
  color: var(--slate-800);
  height: 50px;
  padding: 0 12px;
  background-color: var(--white);
}
.check_item img {
  cursor: pointer;
}
.check_item a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.done {
  background-color: var(--violet-100);
}
.done a {
  text-decoration: line-through;
  color: var(--slate-800);
}
.check_item a:hover {
  font-weight: var(--bold);
}
.detail {
  justify-content: center;
}
.detail_name {
  font-weight: var(--bold);
  text-decoration: underline;
  outline: none;
  background-color: inherit;
  border: none;
}
